// Color
$color-primary: #d2d5d4;
$color-secondsry: #555;
$color-third: #e2e8ec;
$color-fourth: #b0895d;
$color-background: #e6e7ee;

// media-query
$screen-1066px: 66.625em;
$screen-1031px: 64.4375em;
$screen-1021px: 70.0625em;
$screen-828px: 51.75em;
$screen-586px: 36.625em;
$screen-542px: 36.1333333em;
$screen-492px: 30.74em;
$screen-320px: 20em;
$screen-252px: 15.75em;

// @media only screen and (max-width:1021px ) {

//     }
