.offer-section {
  &__img-section {
  }
  &__img-container {
    max-width: 40rem;
  }
  &__offer-img {
    max-width: 100%;
  }
  &__txt-section {
  }
  &__txt-container {
  }
  &__txt1 {
  }
  &__txt2 {
    padding: 1rem;
  }
  &__txt3 {
  }
}
