.products-section {
  &__items {
    @media only screen and (max-width: $screen-252px) {
      padding: 50px;
    }
  }
  &__name-container {
  }
  &__name {
  }
  &__img-container {
    max-height: 600px;
    max-width: 40rem;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      transform: translateY(-1rem);
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;

    overflow: hidden;

    border-radius: 0.5rem;
  }
  &__txt-container {
  }
  &__product-name {
  }
  &__star-container {
  }
  &__star-svg {
    max-width: 1rem;

    @media only screen and (max-width: 492px) {
      max-width: 1.5rem;
    }
  }
  &__price {
    @media only screen and (max-width: 492px) {
      font-size: 2rem;
    }
  }
}
